@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Roboto:ital@0;1&display=swap');

/*  Reusable  */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-purple {
    color:#8F00FF;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 22px;
}

/* Nav bar */

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    display: flex;
    left: 0;
    width: 60px;
    height: 60px;
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

.nav__list-2 {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__links {
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    padding: 10px;
}

.nav__last {
    padding: 10px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #FFF;
    border-radius: 16px;
    padding: 10px 15px;
}

.nav__link--primary:hover {
    opacity: 0.85;
    background-color: rgba(60, 13, 153)
}

/* Landing */

#landing {
    height: 1000px;
    background-color: #FAFAFA;
}

.text__area {
    padding-top: 100px;
    width: 40%;
}

.header__email--input {
    width: 200px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: black;
}

.header__email--input::placeholder {
    font-weight: 500;
    color: rgb(158, 170, 189);
}

.header__email--input:focus,
.header__email--input:active {
    outline: none;
    border-color: rgba(100, 21, 255);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: 50px;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    opacity: 0.85;
    cursor: pointer;
    background-color: rgba(60, 13, 153);
}

.about__me--para--cust {
    margin-top: 80px;
    font-size: 16px;
    color: #999DA0;
}

.cust__img {
    display: flex;
    width: 500px;
    margin-left: -42px;
}

.row__header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header__img {
    width: 800px;
    height: 800px;
}

/* Features */

#features {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light__text {
    color: rgb(124, 139, 161);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    width: 24px;
    height: 24px;
}

.feature__title--para {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.feature__title {
    font-size: 26px;
    font-weight: 700;
}

.feature--para {
    font-size: 18px;
}

/* Quaility */

#quality {
    background-color: #FAFAFA;
    padding-top: 150px;
    height: 500px;
}

.quality__title {
    font-size: 26px;
}

.quality__subtitle {
    font-size: 55px;
    width: 50%;
}

.quality__row {
    display: flex;
}

.qualitys__img {
    width: 100%;
}

.quality__btn {
    border: none;
    padding: 15px 35px;
    border-radius: 500px;
    font-weight: 700;
    background-color: #6415ff;
    color: white;
}

.quality__btn:hover {
    opacity: 0.87;
    cursor: pointer;
    background-color: rgba(60, 13, 153)
}

/* Steps */

#steps {
    background-color: #FAFAFA;
    height: 700px;
}

.steps__row {
    display: flex;
    flex-direction: row;
}

.steps__img {
    width: 100%;
}

.steps__title {
    font-size: 26px;
}

.steps__subtitle {
    font-size: 55px;
}

.step__row {
    display: flex;
    flex-direction: row;
}

.step-by-step {
    color:  #999DA0;
    padding: 0 10px;
    font-size: 30px; 
}

.step {
    font-size: 30px;
}

.step--para {
    color: #7c8083;
    font-size: 20px;
}

/* Values */

#values {
    background-color:   #FAFAFA;
    height: 700px;
}

.values__column {
    display: flex;
    flex-direction: column;
}

.values__row {
    display: flex;
}

.values__title {
    font-size: 30px;
}

.values__subtitle {
    font-size: 55px;
    width: 90%;
}

.values__text {
  width: 80%;
}

.value__tag--1 {
    padding-right: 45px;
    width: 75%;
}

.value__tag--1--header {
    display: flex;
}

.tag__img--1 {
    display: flex;
    width: 10%;
    height: 50px;
    margin-right: 15px;
    padding: 0 10px;
    background-color: lightgreen;
    border-radius: 500px;
}

.value__tag--2 {
    width: 80%;
}

.tag__img--2 {
    display: flex;
    width: 10%;
    height: 50px;
    margin-right: 15px;
    padding: 0 10px;
    background-color: lightsalmon;
    border-radius: 500px;
}

.values__tags {
    display: flex;

}

.values__img {
    display: flex;
    width: 145%;
    height: 100%;
}

.value__btn--sec {
    display: flex;
}

.value__btn {
    margin-top: 10px;
    padding: 12px 18px;
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.value__btn:hover {
    opacity: 0.85;
}

/* Pricing */

#pricing {
    background-color:   #FAFAFA;
    height: 700px;
}

.pricing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pricing__title {
    font-size: 30px;
}

.pricing__subtitle {
    font-size: 55px;
}

.pricing__subtext {
    width: 45%;
}

.pricing__row {
    display: flex;
    flex-direction: row;
}

.price__column {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.price__top--stripe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.price__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    list-style: none;
}

.price__mid {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    list-style: none;
}

.price__bottom--btn {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.price__type,
.price__amount,
.price__duration {
    font-weight: bold;
    line-height: 1.625;
}

.price__type {
    font-size: 20px;
}

.price__amount {
    font-size: 48px;
    margin: 4px 0;
}

.price__duration {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.price__feature {
    margin-top: 20px;
    font-weight: 500;
    color:  #718096;
    font-size: 16px;
    line-height: 1.5;
}

.price__about {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.price__btn {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
}

.price__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.price__column:nth-child(1) .price__top--stripe,
.price__column:nth-child(1) .price__btn {
    color: #f7fafc;
    background: linear-gradient(
        115deg,
        rgb(56, 178, 172) 0%,
        rgb(129, 230, 217) 100%
    );
}

.price__column:nth-child(2) .price__btn {
    color: #6415ff;
    background-color: #f7fafc;
}

.price__column:nth-child(2) .price__top--stripe {
    visibility: hidden;
}

.price__column:nth-child(2) {
    background: linear-gradient(
        115deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
    );
}

.price__column:nth-child(3) .price__top--stripe,
.price__column:nth-child(3) .price__btn {
    color: #f7fafc;
    background: linear-gradient(
        115deg,
        rgb(245, 101, 101) 0%,
        rgb(254, 178, 178) 100%
    );
}

.price__column:nth-child(odd) .price__type,
.price__column:nth-child(odd) .price__amount,
.price__column:nth-child(odd) .price__about {
    color: #1a202c;
}

.price__column:nth-child(odd) .price__duration {
    color: #a0aec0;
}

.price__column:nth-child(2) .price__type,
.price__column:nth-child(2) .price__amount,
.price__column:nth-child(2) .price__duration,
.price__column:nth-child(2) .price__about,
.price__column:nth-child(2) .price__feature {
    color: #f7fafc;
}

.price__column:nth-child(1) .price__mid,
.price__column:nth-child(3) .price__mid {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.price__column:nth-child(2) .price__mid {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.pricing__row {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/*  Testimonials */

#testimonials {
    margin-top: 550px;
    background-color: #FAFAFA;
    height: 650px;
}

.test__row {
    display: flex;
    flex-direction: row;
}

.test__img {
    display: flex;
    width: 80%;
}

.test__column {
    width: 50%;
}

.test__title {
    font-size: 24px;
}

.test__para {
    width: 80%;
}

.fa-star {
    margin-top: 25px;
    color: #FFD700;
}

.test__review--para {
    font-size: 18px;
    width: 80%;
}

.test__review--person {
    display: flex;
    flex-direction: row;
}

.review__img {
    width: 10%;
    border-radius: 50px;
}

.test__review--person--text {
    margin-left: -480px;
}

.test__btn {
    margin-left: 200px;
}

.review__arrow--left {
    margin-top: 20px;
    padding: 18px 20px;
    border-radius: 500px;
    border: none;
    color: #6415ff;
    font-size: 22px;
    margin-right: 25px;
    transition: all 300ms ease;
}

.review__arrow--right {
    padding: 18px 20px;
    border-radius: 500px;
    border: none;
    color: #6415ff;
    font-size: 22px;
    transition: all 300ms ease;
}

.review__arrow--left:hover,
.review__arrow--right:hover {
    cursor: pointer;
    opacity: 0.90;
    transform: translate(1px, -1px);
}

/* Start */

#start {
    margin-top: -30px;
    background-color: #FAFAFA;
    height: 300px;
}

.start__container {
    background-color: #5900ff;
    padding: 60px 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
}

.start__text--actual {
    color: white;
    width: 80%;
}

.start__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.started__btn {
    max-height: 80px;
    padding: 20px 60px;
    border-radius: 500px;
    border: none;
    font-size: 18px;
    background-color: rgb(252, 98, 42);
    color: white;
    font-weight: 700;
    margin-right: 30px;
    transition: all 300ms ease;
}

.contact__btn {
    max-height: 80px;
    padding: 20px 60px;
    border-radius: 500px;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 300ms ease;
}

.started__btn:hover,
.contact__btn:hover {
    cursor: pointer;
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0.06);
}

/* Footer */

#footer {
    background-color: #5900ff;
    margin-top: 150px;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.footer__main,
.footer__product,
.footer__press,
.footer__team,
.footer__legal {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.footer__link--title {
    color: white;
    font-size: 20px;
}

.footer__link {
    color: #f7fafc;
    font-size: 18px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
}

.footer__divider {
    border: 1px solid rgb(124, 139, 161);
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer__logo--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__img {
    width: 25%;
}

.footer__comp--title {
    color: #f7fafc;
    font-size: 18px;
    font-weight: 700;
    margin-left: -220px;
}

.footer__icon {
    border: none;
    padding: 10px 9px;
    background-color: #fafafa;
    border-radius: 30px;
    margin-left: 15px;
}

.footer__icon:hover {
    opacity: 0.90;
    cursor: pointer;
}

/* Media */

@media (max-width: 768px) {
  .features__list {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .section__para {
    font-size: 14px;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }

  .quality__description,
  .steps--para,
  .values__para,
  .test__para {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  .quality__description,
  .quality__img,
  .steps__description,
  .steps__img--wrapper,
  .values__description,
  .values__img,
  .testimonials__description,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  .quality__text {
    display: flex;
    flex-direction: column;
  }

  .quality__subtitle {
    max-width: 100%;
    width: 450px;
    font-size: 34px;
  }

  .quality__description {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .qualitys__img {
    width: 120%;
  }

  #steps .row,
  #testimonials .row {
    flex-direction: column;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .values__list {
    margin-left: auto;
    margin-right: auto;
  }
  .value:nth-of-type(1) {
    margin-right: 0px;
  }

  #steps {
    margin-top: 200px;
  }
  .value {
    margin-right: 0px;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }

  #pricing {
    height: 2300px;
  }

  .pricing__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #testimonials {
    height: 1250px;
  }

  .testimonials__description {
    padding-left: 0;
  }

  .test__row {
    display: flex;
    flex-direction: column;
  }

  .test__img {
    width: 100%;
  }

  .test__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .test__title {
    display: flex;
    justify-content: center;
  }

  .test__para {
    display: flex;
    margin-top: -20px;
    font-size: 18px;
  }

  .test__review--para {
    display: flex;
    font-size: 18px;
    width: 125%;
  }

  .test__review--person {
    display: flex;
    flex-direction: row;
  }

  .review__img {
    display: flex;
    width: 40%;
    border-radius: 500px;
  }

  .test__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .review__arrow--left {
    display: flex;
    position: relative;
    padding: 20px 20px;
  }

  .review__arrow--right {
    display: flex;
    position: relative;
    top: 10px;
    padding: 20px 20px;
  }

  #start {
    height: 500px;
  }

  .start__container {
    display: flex;
    flex-direction: column;
  }

  .start__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .start__text--actual {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .footer__main,
  .footer__product,
  .footer__press,
  .footer__team,
  .footer__legal {
    margin-left: 30px;
  }
}


@media (max-width: 640px) {
.features__list {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .section__para {
    font-size: 14px;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }

  .quality__description,
  .steps--para,
  .values__para,
  .test__para {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  .quality__description,
  .quality__img,
  .steps__description,
  .steps__img--wrapper,
  .values__description,
  .values__img,
  .testimonials__description,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  .quality__text {
    display: flex;
    flex-direction: column;
  }

  .quality__subtitle {
    max-width: 100%;
    width: 450px;
    font-size: 34px;
  }

  .quality__description {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .qualitys__img {
    width: 120%;
  }

  #steps .row,
  #testimonials .row {
    flex-direction: column;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  #values {
    margin-top: 5px;
  }

  .values__list {
    margin-left: auto;
    margin-right: auto;
  }
  .value:nth-of-type(1) {
    margin-right: 0px;
  }

  #steps {
    margin-top: 200px;
  }
  .value {
    margin-right: 0px;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }

  #pricing {
    height: 2300px;
  }

  .pricing__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #testimonials {
    height: 1250px;
  }

  .testimonials__description {
    padding-left: 0;
  }

  .test__row {
    display: flex;
    flex-direction: column;
  }

  .test__img {
    width: 100%;
  }

  .test__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .test__title {
    display: flex;
    justify-content: center;
  }

  .test__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 110%;
    margin-bottom: 30px;
  }

  .test__para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    margin-top: -20px;
    font-size: 18px;
  }

  .test__review--para {
    display: flex;
    font-size: 18px;
    width: 125%;
  }

  .test__review--person {
    display: flex;
    flex-direction: row;
  }

  .test__review--person--text {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35px;
  }

  .review__name {
    font-size: 16px;
  }

  .review__name--directive {
    font-size: 16px;
  }

  .review__img {
    display: flex;
    position: relative;
    right: 25px;
    width: 40%;
    border-radius: 500px;
  }

  .test__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
  }

  .review__arrow--left {
    display: flex;
    position: relative;
    padding: 20px 20px;
  }

  .review__arrow--right {
    display: flex;
    position: relative;
    top: 10px;
    padding: 20px 20px;
  }

  #start {
    height: 500px;
  }

  .start__container {
    display: flex;
    flex-direction: column;
  }

  .start__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .start__text--actual {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .footer__main,
  .footer__product,
  .footer__press,
  .footer__team,
  .footer__legal {
    margin-left: 30px;
  }

  .footer__comp--title {
    display: flex;
    position: relative;
    left: 5px;
    font-size: 18px;
  }

  .footer__copyright {
    font-size: 18px;
  }
}