@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Roboto:ital@0;1&display=swap');

/*  Reusable  */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-purple {
    color:#8F00FF;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 22px;
}

/* Nav bar */

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo {
    display: flex;
    left: 0;
    width: 60px;
    height: 60px;
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 550px;
}

.nav__list-2 {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav__links {
    list-style: none;
    flex-direction: row;
    text-decoration: none;
    padding: 10px;
}

.nav__last {
    padding: 10px;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #FFF;
    border-radius: 16px;
    padding: 10px 15px;
}

.nav__link--primary:hover {
    opacity: 0.85;
    background-color: rgba(60, 13, 153)
}

/* Landing */

#landing {
    height: 1000px;
    background-color: #FAFAFA;
}

.text__area {
    padding-top: 100px;
    width: 40%;
}

.header__email--input {
    width: 200px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: black;
}

.header__email--input::placeholder {
    font-weight: 500;
    color: rgb(158, 170, 189);
}

.header__email--input:focus,
.header__email--input:active {
    outline: none;
    border-color: rgba(100, 21, 255);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: 50px;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    opacity: 0.85;
    cursor: pointer;
    background-color: rgba(60, 13, 153);
}

.about__me--para--cust {
    margin-top: 80px;
    font-size: 16px;
    color: #999DA0;
}

.cust__img {
    display: flex;
    width: 500px;
    margin-left: -42px;
}

.row__header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header__img {
    width: 800px;
    height: 800px;
}

/* Features */

#features {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light__text {
    color: rgb(124, 139, 161);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    width: 24px;
    height: 24px;
}

.feature__title--para {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.feature__title {
    font-size: 26px;
    font-weight: 700;
}

.feature--para {
    font-size: 18px;
}

/* Quaility */

#quality {
    background-color: #FAFAFA;
    padding-top: 150px;
    height: 500px;
}

.quality__title {
    font-size: 26px;
}

.quality__subtitle {
    font-size: 55px;
    width: 50%;
}

.quality__row {
    display: flex;
}

.qualitys__img {
    width: 100%;
}

.quality__btn {
    border: none;
    padding: 15px 35px;
    border-radius: 500px;
    font-weight: 700;
    background-color: #6415ff;
    color: white;
}

.quality__btn:hover {
    opacity: 0.87;
    cursor: pointer;
    background-color: rgba(60, 13, 153)
}

/* Steps */

#steps {
    background-color: #FAFAFA;
    height: 700px;
}

.steps__row {
    display: flex;
    flex-direction: row;
}

.steps__img {
    width: 100%;
}

.steps__title {
    font-size: 26px;
}

.steps__subtitle {
    font-size: 55px;
}

.step__row {
    display: flex;
    flex-direction: row;
}

.step-by-step {
    color:  #999DA0;
    padding: 0 10px;
    font-size: 30px; 
}

.step {
    font-size: 30px;
}

.step--para {
    color: #7c8083;
    font-size: 20px;
}

/* Values */

#values {
    background-color:   #FAFAFA;
    height: 700px;
}

.values__column {
    display: flex;
    flex-direction: column;
}

.values__title {
    font-size: 30px;
}

.values__subtitle {
    font-size: 55px;
    width: 45%;
}

.values__text {
    width: 55%;
}

.values__tags {
    display: flex;

}

.values__img {
    width: 50%;
}